.circle {
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle.second{
    width:100%;
}

.circle canvas {
    vertical-align: top;
    margin:auto;
}
.circle strong {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}


.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}
.disabled{
    cursor:not-allowed;
}

.chart-header{
    background:#ededed;
    border-top:1px solid #aaa;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    margin-bottom:0px;
}    
.chart-body{
    border-bottom:1px solid #aaa;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}    